@model IEnumerable<Book_Shoppe.Data.Book>

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Online Book Shopping System</h1>
</div>

<h1>Book Details</h1>

<table class="table table-hover">
    <thead>
        <tr class="table-info">
            <th>Sno</th>
            <th>Book Title</th>
            <th>Author</th>
            <th>Genere</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
            foreach (var item in Model)
            {
                <tr class="table-light">
                    <td>@count</td>
                    <td>@item.Title</td>
                    <td>@item.Author</td>
                    <td>@item.Genere</td>
                    <td>@item.Price</td>
            </tr>
                count++;
            }
        }
    </tbody>
</table>